

<div class="input-append">
    <input style="width:358px;" class="span2" type="text" ng-model="diverName" required min="1" />
    <button class="btn btn-primary" ng-disabled="!diverName" ng-click="addNewDiver(diverName)">Add Diver</button>
</div>

<h3>Divers</h3>
<div class="alert alert-info" style="width:400px;" ng-show="divers.length == 0">
    No divers found
</div>
<table class="table table-bordered table-striped" style="width:450px;" ng-show="divers.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">Diver Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="diver in divers">
            <td  style="width:70px;text-align: center;"><button class="btn btn-mini btn-danger" ng-click="removeDiver(diver)">Remove</button></td>
            <td>{{diver}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger"  ng-show="divers.length > 1" ng-click="removeAllDivers()">Remove All Divers</button>