
<div class='container-fluid' ng-controller="CarController">

                <h1>Relevant Dropdown</h1>
<!--                 <h2>A HTML5 datalist polyfill that depends on jQuery and Modernizr.</h2> -->

<!--                 <p>Datalist browser support (Dec 2011) is Firefox 4+ and Opera 10.5+ (or therebouts). Maybe IE 10 too. It's reasonable that you'd want WebKit support. So. This.</p> -->

                <p><input type="text" id="search" list="locsList" placeholder="Find U.S. State" ></p>

 <datalist id="carsList">
    <option  data-ng-repeat="car in cars" value="{{car}}">
  </datalist>
  
   <datalist id="locsList">
    <option  data-ng-repeat="location in locations" value="{{location}}">
  </datalist>

                <datalist id="states">
                  <option value="Alabama">
                  <option value="Alaska">
                  <option value="Arizona">
                  <option value="Arkansas">
                  <option value="California">
                  <option value="Colorado">
                  <option value="Connecticut">
                  <option value="Delaware">
                  <option value="Florida">
                  <option value="Georgia">
                  <option value="Hawaii">
                  <option value="Idaho">
                  <option value="Illinois">
                  <option value="Indiana">
                  <option value="Iowa">
                  <option value="Kansas">
                  <option value="Kentucky">
                  <option value="Louisiana">
                  <option value="Maine">
                  <option value="Maryland">
                  <option value="Massachusetts">
                  <option value="Michigan">
                  <option value="Minnesota">
                  <option value="Mississippi">
                  <option value="Missouri">
                  <option value="Montana">
                  <option value="Nebraska">
                  <option value="Nevada">
                  <option value="New Hampshire">
                  <option value="New Jersey">
                  <option value="New Mexico">
                  <option value="New York">
                  <option value="North Carolina">
                  <option value="North Dakota">
                  <option value="Ohio">
                  <option value="Oklahoma">
                  <option value="Oregon">
                  <option value="Pennsylvania">
                  <option value="Rhode Island">
                  <option value="South Carolina">
                  <option value="South Dakota">
                  <option value="Tennessee">
                  <option value="Texas">
                  <option value="Utah">
                  <option value="Vermont">
                  <option value="Virginia">
                  <option value="Washington">
                  <option value="West Virginia">
                  <option value="Wisconsin">
                  <option value="Wyoming">
                  <option value="cars.length">

                </datalist>


        </div>

<!-- <div class='container-fluid' ng-controller="CarController"> -->
<!--         <pre>Model: {{result | json}}</pre> -->
<!--         <input type="text" ng-model="result" typeahead="suggestion for suggestion in cities($viewValue)"> -->
<!--     </div> -->

<!-- <div class='container-fluid' ng-controller="CarController"> -->
<!--             <pre>Model: {{selected| json}}</pre> -->
<!--             <pre>{{states}}</pre> -->
<!--             <input type="text" ng-change="onedit()" ng-model="selected" typeahead="state for state in states | filter:$viewValue"> -->
<!--         </div> -->

<div class="input-append">
    <input style="width:358px;" class="span2" type="text" ng-model="carName" required min="1" />
    <button class="btn btn-primary" ng-disabled="!carName" ng-click="addNewCar(carName)">Add Diver</button>
</div>

<h3>Divers</h3>
<div class="alert alert-info" style="width:400px;" ng-show="cars.length == 0">
    No cars found
</div>
<table class="table table-bordered table-striped" style="width:450px;" ng-show="cars.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">Diver Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in cars">
            <td  style="width:70px;text-align: center;"><button class="btn btn-mini btn-danger" ng-click="removeCar(car)">Remove</button></td>
            <td>{{car}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger"  ng-show="cars.length > 1" ng-click="removeAllCars()">Remove All Divers</button>